$blue: #053efd;
$yellow: #fee900;
$grey: #2c2c2e;

@import "sass/segoe";
@import "sass/icomoon";
@import "bootstrap-4-grid";

$font: 'Segoe UI', 'SegoeUI', sans-serif;
$font2: 'Libre Baskerville', serif;

body,
html {
	background: #fff;
	// font-family: 'lato', sans-serif;
	font-family: $font;
	color: #222;
	font-size: 14px;
	width: 100%;
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

body,
.section {
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/**
* ---------------------------------------
* Header
* ---------------------------------------
*/
.site-header {
	background-color: rgb(29, 29, 30);
	padding: 0;
	overflow: hidden;

	@media (min-width: 768px) {
		background-color: rgba(29, 29, 30, .85);
		overflow: visible;
	}

	.rw {
		align-items: center;
	}

	.cntr {
		padding: 0;

		@media (min-width: 768px) {
			padding: 0 15px;
		}
	}

	.logo-wrap {
		text-align: center;
		padding: 6px 0 0;
	}

	&-tagline {
		padding: 6px 0;
		text-align: center;

		@media (min-width: 768px) {
			display: flex;
		}

		h3 {
			color: #fff;
			font-weight: bold;
			text-align: center;
			font-size: 1.2rem;

			@media (min-width: 768px) {
				margin-right: 18px;
			}

			@media (min-width: 1260px) {
				font-size: 1.4rem;
			}

			br {
				display: none;

				@media (min-width: 768px) {
					display: block;
				}
			}
		}

		img {
			width: 100px;
			display: none;

			@media (min-width: 992px) {
				display: block;
			}

			@media (min-width: 1260px) {
				width: 146px;
			}
		}
	}

	.navbar {
		&-brand {
			float: none;
			display: inline-block;
			margin: 0;
		}

		&-collapse {
			border-top: 0 none;
			box-shadow: none;
		}

		&-nav {
			float: none;
			font-size: 1.2rem;

			@media (min-width: 768px) {
				display: flex;
				justify-content: center;
			}

			@media (min-width: 1260px) {
				font-size: 1.5rem;
			}

			>li {
				float: none;
				margin: 0;
				padding: 0;

				&:hover>a,
				&.active>a {
					color: $yellow;
				}

				@media (max-width: 768px) {
					&:not(&:last-child) {
						border-bottom: 1px solid rgba(#fff, 0.7);
					}
				}

				@media (min-width: 1260px) {
					margin: 0 12px;
				}

				>a {
					color: #fff;
					font-weight: 300;

					&:hover,
					&:focus,
					&:active {
						background-color: transparent;
						color: $yellow;
					}

					@media (min-width: 768px) {
						padding: 15px 5px;
					}

					@media (min-width: 992px) {
						padding: 15px;
					}
				}
			}
		}

		&-toggle {
			float: none;
			background-color: $yellow;
			width: 100%;

			&:before {
				content: "Menu";
				position: absolute;
				font-weight: bold;
				text-transform: uppercase;
				left: 0;
				top: 0;
				padding: 7px 10px;
			}
		}
	}

	.topcontact {
		text-align: center;
		padding: 15px;
		// font-size: ;

		@media (min-width: 768px) {
			float: right;
			padding: 0;
		}
	}

	.dropdown {
		@media (min-width: 768px) {
			&:hover {
				>.dropdown-menu {
					display: block;
				}
			}
		}

		&-menu {
			background-color: rgba(29, 29, 30, .85);
			border: 0 none;
		}
	}
}

.topbar {
	width: 100%;
	background: rgba(29, 29, 30, 1);
	color: #fff;
	// font-family: 'open_sanssemibold', sans-serif;
	padding: 10px;
	position: relative;
	z-index: 4000;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
}

header {
	width: 100%;
	background: rgba(29, 29, 30, 0.85);
	padding: 50px 0 10px 0;
	position: fixed;
	z-index: 3000;
	top: 0;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
}

.topcontact {
	// width: 300px;
	// text-align: right;
	position: relative;
}

.topcontact {
	font-size: 1.143rem;

	@media (min-width: 768px) {
		font-size: 0.8rem;
	}

	@media (min-width: 1200px) {
		font-size: 1.143rem;
	}

	>strong {
		color: #fff;
		display: block;
		// font-size: 1.13em;
		// font-family: 'latoregular', sans-serif;
		// font-weight: normal;
		text-transform: uppercase;
		// float: right;
		// clear: both;
		margin: 0 0 5px;
	}

	.paveit {
		color: $yellow;
		display: block;
		border: 2px solid $yellow;
		font-weight: bold;
		font-size: 155%;
	}

	.phone {
		font-size: 1.5em;
	}

	.mail {
		font-size: 1.3em;
		color: #fff;
	}
}

.topcontact .phone {
	// clear: both;
	display: block;
}

.topcontact .phone a {
	color: #fff !important;
	display: inline-block;
	// font-size: 1.87em;
	// font-family: 'open_sansbold', sans-serif;
	font-weight: 700;
	padding: 0;
	font-weight: 900;
	line-height: 1.2em;
}

.topcontact .phone a:hover,
.topcontact .mail:hover {
	color: $yellow !important;
}

.topcontact .phone a.phonenum {
	margin-left: 5px;
}

.topcontact .phone1 strong,
.topcontact .phone1 a {
	// width: 270px;
	background: rgba(44, 44, 46, 1);
	color: #f4d93f !important;
	border: 2px solid #fee900;
	// font-family: 'open_sansbold', sans-serif !important;
	font-weight: 700;
	// font-size: 1.85em;
	line-height: 1.05em;
	padding: 3px;
	margin-bottom: 3px;
	text-align: center;

	// &:hover {
	// 	color: #fff !important;
	// }
}

.topcontact .phone1 strong a {
	border: 0 !important;
	margin: 0 0 0 -15px !important;
	padding: 0 !important;
	// font-size: 1em !important;
	background: transparent !important;
}

.creditcard {
	width: 180px;
	float: right;
	clear: both;
	margin: 20px 0 0 0px;
}

.bbb {
	width: 130px;
	display: inline-block;
}

.bbb img {
	width: 100%;
}

.license {
	color: #fff;
	position: absolute;
	right: 0;
	top: -5px;
	font-size: 1.28em;
	font-family: 'latoblack', sans-serif;
}

.googlemap {
	width: 100%;
	height: 450px;
	border: 0;
	overflow: hidden;
}


/**
* ---------------------------------------
* Navigation
* ---------------------------------------
*/
.navbar {
	width: 73%;
	min-height: none;
	margin-bottom: 0;
	border: 0;
	background: none;
	padding: 0;
	z-index: 2000;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	margin-top: 5px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar-header {
	margin: 0 !important;
}

.navbar-header h1 {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	width: 400px;
	height: auto;
	padding: 0;
	margin-top: 8px;
}

.navbar-brand img {
	width: 100%;
}

.navbar-right {
	width: 50%;
	margin: 80px 0 0 0;
}

.navbar-nav {
	width: 100%;
	background: none;
}

.navbar-default .navbar-nav>li {
	width: 20%;
	display: block !important;
	margin-bottom: 0 !important;
	padding-left: 0;
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
	width: 100%;
	background: none;
	color: #fff !important;
	display: block;
	font-size: 1.13em;
	padding: 10px 0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a {
	color: #f4d93f !important;
}

.hvr-shutter-out-vertical:before {
	background: rgba(29, 29, 30, 0.5) !important;
}

.navbar-default .navbar-nav>li a.hvr-white {
	background: rgba(29, 29, 30, 0.7) !important;
	color: #f4d93f !important;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

.navbar-right .dropdown-menu {
	background: rgba(29, 29, 30, 0.85);
	padding: 0;
	margin-top: 0px !important;
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	left: 0px;
	width: 200px;
}

.dropdown-menu>li {
	padding: 0;
	margin-bottom: 0;
}

.dropdown-menu>li>a {
	background: transparent !important;
	color: #fff;
	padding: 15px 20px;
	white-space: normal;
	border: 0 !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #f4d93f !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background: none;
}



/**
* ---------------------------------------
* Main Banner / Slider and Contact Box
* ---------------------------------------
*/
.mainbanner {
	overflow: hidden;
	position: relative;

	// @media (min-width: 1600px) {
	// 	height: 100vh;
	// }

	// .slides {
	// 	li {
	// 		a {
	// 			display: inline-block;
	// 			position: absolute;

	// 			@media (min-width: 1001px) {
	// 				display: none;
	// 			}
	// 		}
	// 	}
	// }

	.flexslider {
		width: 100%;
		aspect-ratio: 5/2.5;
		display: block;
	}

	.banner-img {
		width: 100%;
		aspect-ratio: 5/2.5;
		display: block;
	}
}

.slider-image {
	background: none no-repeat center center;
	background-size: cover;
	// height: 100vh;

	@media (min-width: 992px) {
		// height: 100vh;
		min-height: 600px;
	}

	img {
		@media (min-width: 992px) {
			opacity: 0;
			visibility: hidden;
		}
	}

	&.slider-image-1 {
		@media (min-width: 992px) {
			background-image: url(../img/bg/main_banner.jpg);
		}
	}
}

.magazine {
	// max-width: 280px;
	text-align: right;
	// padding: 30px 0 0;
	margin: 30px auto 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: stretch;
	position: relative;

	// @media (min-width: 576px) {
	// 	width: 407px;
	// }

	@media (min-width: 768px) {
		// max-width: 300px;
	}

	@media (min-width: 992px) {
		margin: 0 0 0 auto;
		// max-width: 280px;
		max-height: 100%;
	}

	picture {
		height: 100%;
		display: block;
	}

	img {
		max-width: 400px;
		width: 100%;
		height: 100%;

		@media (min-width: 992px) {
			max-width: 100%;
			width: auto;
		}
	}
}

.banner-text {
	background: #1d1d1e;
	color: #fff;
	padding: 30px 0;
	text-align: center;

	h3 {
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
	}
}

.flex-direction-nav li {
	padding: 0 !important;
	margin: 0 !important;
}

.cb-container {
	// width: 1170px;
	// height: 100%;
	width: 100%;
	max-width: 100%;
	// padding-bottom: 20px;

	// left: 50%;
	// margin-left: -600px;

	@media (max-width: 991px) {
		background: #1d1d1e;
	}

	@media (min-width: 992px) {
		position: absolute;
		bottom: 0;
		display: flex;
		align-items: center;
		top: 125px;

	}

	@media (min-width: 1201px) {
		top: 160px;
	}

	// .container {
	// 	display: none;

	// 	@media (min-width: 1001px) and (max-width: 1199px) {
	// 		width: 100%;
	// 		margin: 0 360px 0 0;
	// 	}

	// 	@media (min-width: 1001px) {
	// 		display: block;
	// 	}
	// }


	.container,
	.container-fluid {
		height: 100%;
		display: flex;
		justify-content: flex-end;

		@media (max-width: 991px) {
			width: auto;
		}
	}

	.container-fluid {
		width: 100%;
	}
}

// @media screen and (-webkit-min-device-pixel-ratio:0) {
// 	.cb-container {top: 151px !important;}
// }
// .cb-container:not(*:root) {
// 	top: 153px !important;
// }



.cb-wrap {
	// width: 100%;
	// max-width: 100%;
	height: 100%;
	// padding: 0;
	// top: 0;
	// right: 0;
	// position: absolute;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.btn {
		width: auto;
		padding: 10px 20px;
		margin-bottom: 30px;

		&:hover {}

		&:before {
			background-color: #2c2c2e !important;
		}

		@media (min-width: 768px) {
			font-size: 26px;
		}
	}
}

.sc-box {
	background: rgba(29, 29, 30, 1);
	color: #fff;
	padding: 20px 0;
	font-size: 16px;

	@media (min-width: 992px) {
		background: rgba(29, 29, 30, 0.8);
		padding: 20px;
	}

	@media (min-width: 1001px) {
		// max-width: 360px;
		// position: absolute;
		// right: 0;
		// top: 0;
		// bottom: 0;

	}



	// @media (min-width: 1300px) {
	// 	max-width: 360px;
	// 	// font-size: 16px;
	// }
	// right: 0;
	// height: 100%;

	.btn {
		// width: 100%;
	}
}

.sc-box h3 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}

.sc-box p {
	// font-size: 1.23em;
}

.contact-box strong {
	color: #fff;
	display: block;
	// font-family: 'open_sansbold', sans-serif;
	font-weight: 700;
	font-size: 1.43em;
	padding: 0 0 15px;
	position: relative;
}

.contact-box strong:after {
	width: 80%;
	height: 2px;
	background: #fff;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: .2;
}

.contact-box label {
	color: #fff;
	// font-family: 'open_sansregular', sans-serif;
	font-size: 1em;
}

.contact-box .form-control {
	height: auto;
	padding: 5px;
}

.form-control {
	background: #fff;
	border: 0;
	box-shadow: none;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.contact-box .btn {
	width: 100%;
	font-size: 1.13em;
	padding: 10px;
}

#success span {
	// font-family: 'open_sansregular', sans-serif;
}

/*Captcha*/
.g-recaptcha {
	margin: 0 auto !important;
	overflow: hidden;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.g-recaptcha div {
	margin: 0 auto !important;
	overflow: hidden;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.slidercaption {
	position: relative;
	// height: 100%;
}

.slidercaption .sc_wrap {
	bottom: 25%;
	position: absolute;
	z-index: 2000;
	left: 0;
	right: 0;
}

.slidercaption h2,
.slidercaption strong {
	background: rgba(44, 44, 46, 1);
	border: 2px solid #fee900;
	color: #f4d93f !important;
	// font-family: 'open_sansbold', sans-serif;
	font-weight: 700;
	font-size: 4em;
	padding: 0px 20px;
	margin-bottom: 30px;
	display: block;
}

.slidercaption h3 {
	width: 500px;
	max-width: 100%;
	// font-family: 'open_sansitalic', sans-serif;
	font-style: italic;
	font-size: 2.57em;
	margin: 0 auto;
}

.slidercaption h3.mid {
	color: #e1e5ea;
	border-bottom: 15px solid #e1e5ea;
	padding: 0 0 10px;
}

.slidercaption h3.last {
	border-bottom: 2px solid #fee900;
	color: #2c2c2e;
	text-transform: uppercase;
	padding: 10px 0;
}


/**
* ---------------------------------------
* CTA and Homepage Sections
* ---------------------------------------
*/
.section {
	position: relative;
}

.section-sm {
	padding: 20px 0;
}

.section-md {
	padding: 60px 0;
}

.section-lg {
	padding: 80px 0;
}

.uline {
	display: block;
	padding: 0 0 30px;
	position: relative;
}

.uline:after {
	width: 100px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
}

.uline-left:after {
	left: 0;
	margin-left: 0;
}

.section .uline:after {
	background: #eee;
}

.section_lblue .uline:after {
	background: #04a1e4;
	opacity: .5;
}

.section_dblue .uline:after {
	background: #024576;
}


.divline {
	display: block;
	position: relative;
}

.divline:before {
	width: 100%;
	height: 2px;
	background: #eee;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.divline span {
	display: inline-block;
	background: #fff;
	position: relative;
	padding: 0 20px;
	z-index: 1000;
}

.title-uline {
	font-size: 2.4rem;

	&:after {
		display: block;
		height: 2px;
		content: "";
		width: 35%;
		background-color: $yellow;
		margin: 16px auto 0;
	}
}

.section_gray .divline:before {
	background: #ddd;
}

.section_gray .divline span {
	background: #2c2c2e;
}

.section_lgray .divline span {
	background: #d7dbdd;
}

.section_bg1 {
	background: url(../img/bg/bg4.jpg) center center repeat;
	background-attachment: fixed;
	color: #fff;
}



/* Homepage Sections */
.section1 {
	background: url(../img/bg/mobile/bg1.webp) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0 70px;
	overflow-y: hidden;

	@media (min-width: 576px) {
		background-image: url(../img/bg/bg1.jpg);
	}

	@media (min-width: 768px) {
		padding: 100px 0 120px;
	}

	.types {
		a {
			display: block;
			position: relative;
			color: #fff;
			overflow: hidden;

			&:hover {
				img {
					transform: scale(1.15);
				}
			}

			img {
				max-width: 100%;
				transition: all .25s ease;
				display: block;
			}

			h3 {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(29, 29, 30, .7);
				padding: 10px 0;
				font-size: 26px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

.section2 {
	background: url(../img/bg/mobile/bg1.webp) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 0 !important;
	position: relative;

	@media (min-width: 576px) {
		background-image: url(../img/bg/bg1.jpg);
	}
}

.section3 {
	overflow: visible;
	padding: 0 0 40px !important;

	@media (min-width: 768px) {
		padding: 0 0 60px !important;
	}
}

.section3 h2 {
	background: url(../img/bg/mobile/bg1.webp) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 4.23em;
	margin-bottom: 200px;
	// padding: 100px 0 0;
	line-height: 0;

	@media (min-width: 576px) {
		background-image: url(../img/bg/bg1.jpg);
	}
}

.section3 h2 span {
	width: 340px;
	background: #2c2c2e;
	color: #fff;
	// font-family: 'open_sansextrabold', sans-serif;
	font-weight: 700;
	padding: 0 15px;
	margin: 0 auto 0 auto;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 1000;
}

.section3 .col-sm-4 {
	width: 31.33%;
	// min-height: 426px;
	background: #565658;
	color: #fff;
	margin: 0 1%;
	padding-top: 15px;
	padding-bottom: 30px;
}

.section3 .col-sm-4 h3 {
	font-size: 1.29em;
	// font-family: 'gentium_basicbold', serif;
	font-weight: bold;
	text-transform: uppercase;
}

.section3 .col-sm-4 img {
	position: relative;
	margin-top: -40%;
}

.section3 .col-sm-4:hover>img {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(4%);
	}

	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}

	50% {
		-webkit-transform: translateY(4%);
	}

	100% {
		-webkit-transform: translateY(0%);
	}
}

.section3 .col-sm-4:hover>h3 {
	color: #fee900;
}

.section3 .btn {
	width: 100%;
	font-size: 3.43em;
}

.section3 .col-sm-4 ul {
	width: 200px;
	max-width: 100%;
}

.section3 .col-sm-4 ul li {
	padding: 0;
	margin: 0 0 10px;
	text-align: left;
}

.section3 .col-sm-4 h3 {
	padding: 11px 0;
}


.section4 {
	background: url(../img/bg/mobile/bg1.webp) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	@media (min-width: 576px) {
		background-image: url(../img/bg/bg1.jpg);
	}
}

.section4 .container {
	background: #d7dbdd;
	padding: 20px 30px;
	position: relative;
}

.section4 h2 {
	// font-family: 'open_sansbold', sans-serif;
	font-weight: 700;
	padding: 0;
	margin-top: 0;
}

.section4 p {
	font-size: 1.43em;
}

.section4 img {
	width: 140px;
	position: absolute;
	top: -40px;
	right: 15px;
	background: #121210;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.section5 .wrap {
	background: #d7dbdd;
	color: #2c2c2e;
	min-height: 575px;
	padding: 20px;
	margin-top: 20px;
}

.section5 h3 {
	width: 300px;
	max-width: 100%;
	background: #1c1c1f;
	color: #fff;
	font-size: 2.14em;
	padding: 5px;
	margin-top: -45px;
	margin-bottom: 40px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.section5 .contact-box .wrap {
	background: transparent;
	border: 2px solid #d7dbdd;
}

.section6 p {
	font-size: 2.14em;
	line-height: 1.23em;
}

.section7 {
	background: url(../img/bg/mobile/bg4.webp) center center repeat;
	background-attachment: fixed;
	color: #fff;
	position: relative;

	@media (min-width:576px) {
		background-image: url(../img/bg/bg4.webp);
	}
}

.section7 h2 {
	font-size: 1.43em !important;
}

.section7 p {
	font-size: 1.08em;
}

.section7 img.truck {
	width: 40%;
	position: absolute;
	right: 0;
	z-index: 1000;
}

.section7 img.tear-top,
.section7 img.tear-bottom {
	width: 101%;
}

.clients img {
	max-width: 15%;
	height: auto;
	max-height: 150px;
	margin: 2%;
}


/**
* ---------------------------------------
* Pages and Common Styles
* ---------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	position: relative;
}

h2 {
	font-size: 3.43em;
}

h3 {
	font-size: 2.43em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.43em;
}

h6 {
	font-size: 1.33em;
	line-height: 1.6em;
}


.section {
	font-size: 1.13em;
}

.section_gray {
	background: #2c2c2e;
	color: #fff;
}

.section_dgray {
	background: #181819;
	color: #fff;
}

.section_lgray {
	background: #d7dbdd;
	color: #2c2c2e;
}

.section_yellow {
	background: #fee900;
	color: #2c2c2e;
}

.darkbg {
	background: rgba(0, 0, 0, .5);
	color: #fff;
}

.lightbg {
	background: rgba(255, 255, 255, .7);
}

.bluebg {
	background: rgba(15, 103, 146, .7);
}


.subheader {
	background: url(../img/bg/subbanner.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	padding: 250px 0 90px;
	z-index: 1;
	overflow: hidden;

	@media (min-width: 992px) {
		padding: 300px 0 140px;
	}

	&.contact-banner {
		background-image: url(../img/bg/contact-us.jpg);
	}
}

.subheader--video {
	@media (min-width:1200px) {
		padding: 320px 0 180px;
	}

	video {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		object-position: center center;
	}
}

.overlay-dark {
	background: rgba(0, 0, 0, 0.6);
}

.showmb {
	display: none !important;
}

.subheader h1 {
	width: 100%;
	background: rgba(#1d1c18, 0.6);
	color: #fff;
	display: inline-block;
	// font-family: 'open_sansregular', serif;
	font-size: 3.67em;
	padding: 8px 15px 10px;
}

.subheader .uline:after {
	height: 4px;
	opacity: .2;
}

/*Custom Banners*/
.servicebanner {
	background: url(../img/misc/service_overview/banner.jpg);
	background-size: cover;
	background-position: center 40%;
}

.aboutbanner {
	background: url(../img/misc/about/high-quality-asphalt-services-1.jpg);
	background-size: cover;
	background-position: center 40%;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.residentialbanner {
	background: url(../img/misc/residential/residential-asphalt-service.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.sealcoatingbanner {
	background: url(../img/misc/sealcoating/sealcoating.jpg);
	background-size: cover;
	background-position: center 40%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.crackfillingbanner {
	background: url(../img/misc/crackfilling/crack-filling.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.asphaltrepairbanner {
	background: url(../img/misc/asphaltrepair/asphalt-repair.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.asphaltstripingbanner {
	background: url(../img/misc/asphaltstriping/asphalt-striping.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.commercialbanner {
	background: url(../img/misc/commercial/commercial-asphalt-services.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


/* Subpages 
.text-ttl h4:before,
.text-ttl h4:after{
	width: 100.5%;
	height: 1px;
	background: #fee900;
	opacity: .1;
}
.text-ttl h4:before{
	margin-bottom: 15px;
}
.text-ttl h4:after{
	margin-top: 15px;
}*/
.text-ttl h4 {
	padding: 15px;
}

.text-desc {
	padding: 0 20px;
}

.sec-cf {
	background: url(../img/misc/crackfilling/crack-filling-1.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.sec-residential ul li {
	width: 31.33%;
	background: #2c2c2e;
	color: #fff;
	display: block;
	float: left;
	padding: 15px;
	margin: 1%;
}

.contact1 .btn {
	width: 100% !Important;
}

.contactinfo p {
	color: #222 !important;
	font-size: 1.23em;
}

.contactinfo a {
	color: #222 !important;
}

.contactinfo a:hover {
	text-decoration: underline;
}


.about2 .tleft {
	background: url(../img/misc/about/asphalt-paving-project.png) center center no-repeat;
	background-size: cover;
}

.about3 .tright {
	background: url(../img/misc/about/aboutbottompic.jpg) center center no-repeat;
	background-size: cover;
}

.about3 ul li {
	padding: 0;
}

.box-bg {
	position: relative;
	z-index: 1;
	padding: 0 !important;

	@media (max-width:767px) {
		.text-ttl {
			position: absolute;
			width: 100%;
		}
	}

	.text-ttl {
		left: 0;
		right: 0;
	}

	.box-bg-img {
		position: relative;
		z-index: -1;

		@media (min-width:768px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}


}

/* Services Overview */
.service2-sec img {
	width: 400px;
}

.img-block ul li {
	padding: 0;
	position: relative;
	overflow: hidden;
}

.img-block ul li:hover>img {
	-webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
	-moz-transition: opacity 1.5s, -moz-transform 1.5s;
	transition: opacity 1.5s, transform 1.5s;
	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	transform: scale(1.12);
	position: relative;
}

.img-block ul li img {
	width: 100%;
}

.img-block ul li h6 {
	background: rgba(44, 44, 46, 0.9);
	color: #fff;
	line-height: 1.1em;
	text-transform: uppercase;
	padding: 10px 15px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	left: 0;
	right: 0;
	margin: auto;
	font-size: 1.13em;
}


/* Service: Commercial */
.commercial1 .tleft {
	background: url(../img/misc/commercial/commercial-asphalt-services-1.jpg) center left no-repeat;
	background-size: cover;
}


/* Service: Asphalt Repairs */
.asphaltrepair1 .tleft {
	background: url(../img/misc/asphaltrepair/asphalt-repair-3.png) center left no-repeat;
	background-size: cover;
}

.asphaltrepair2 .tright {
	background: url(../img/misc/asphaltrepair/pothole.jpg) center left no-repeat;
	background-size: cover;
}

.asphaltrepair3 .gallery {
	display: inline-block;
	float: none;
}

/* Service: Sealcoating */
.sealcoat1 {
	border-top: 80px solid #2c2c2e;
}

.sealcoat1 .tleft {
	background: url(../img/misc/sealcoating/sealcoating-1.jpg) center left no-repeat;
	background-size: cover;
}

.sealcoat2 .tright {
	background: #fff url(../img/misc/sealcoating/sealcoating-life.png) center center no-repeat;
	background-size: auto 100%;
}

.sealcoat5 .tleft {
	background: url(../img/misc/sealcoating/sealcoating-2.jpg) center left no-repeat;
	background-size: cover;
}

.sealcoat6 .tright {
	background: #000 url(../img/misc/asphalt-equipment.png) center center no-repeat;
	background-size: auto 100%;
}


/* Service: Asphalt Striping */
.asphalt_striping1 .tleft {
	background: url(../img/misc/asphaltstriping/asphalt-striping-14.jpg) center center no-repeat;
	background-size: cover;
}

.asphalt_striping2 .tright {
	background: url(../img/misc/asphaltstriping/asphalt-striping-8.jpg) center left no-repeat;
	background-size: cover;
}

/* Service: Crack Filling */
.crackfilling {
	border-top: 80px solid #2c2c2e;
}

.crackfilling .tleft {
	background: url(../img/misc/crackfilling/crack-filling-2.jpg) center left no-repeat;
	background-size: cover;
}

.crackfilling1 .tright {
	background: url(../img/misc/crackfilling/crack-filling-1.jpg) center left no-repeat;
	background-size: cover;
}


/* Service: Additional Services */
.addservices1 .tleft {
	background: url(../img/misc/additionalservices/pic1.jpg) 75% center no-repeat;
	background-size: cover;
}

.addservices1 .overlay-dark {
	padding: 15px;
	margin-top: -4%;
}



/* Gallery */
.gallery a {
	width: 31.33%;
	display: block;
	float: left;
	margin: 0 1% 20px;
	overflow: hidden;
	height: 180px;
}

.gallery a:hover {
	opacity: 0.8;
}

.gallery a img {
	width: 100%;
	height: auto;
}

.gallery a img.tall {
	width: 100%;
	height: auto;
}

.gallery a img.wide {
	width: auto;
	height: 100%;
}

.fancybox-opened .fancybox-title {
	color: #fee900 !important;
	letter-spacing: 2px !important;
	text-transform: uppercase !important;
	// font-family: 'open_sansextrabold', sans-serif !important;
	font-weight: 700;
	font-size: 1.67em !important;
	padding-bottom: 0 !important;
}


.galleryslider a {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 238px;
	position: relative;
}


.galleryslider img,
.galleryslider img.wide {
	width: auto !important;
	height: 100% !important;
}

.galleryslider img.wide1,
.galleryslider img.tall {
	width: 100% !important;
	height: auto !important;
}

.galleryslider img.v-center {
	transform: translateY(-50%);
	top: 50%;
	position: relative;
}

.galleryslider .flex-direction-nav li {
	display: inline-block !important;
}

.galleryslider .flex-direction-nav {
	position: relative;
	margin: 0 !important;
}

.galleryslider .flex-direction-nav a {
	width: 30px;
	height: 30px !important;
	margin: 0 2px;
	overflow: hidden;
}

.galleryslider .flex-direction-nav a:before {
	width: 30px;
	height: 30px;
	display: block;
	background: #fee900;
	color: #201b17;
	content: '\f060';
	font-size: 20px;
	font-family: 'FontAwesome';
}

.galleryslider .flex-direction-nav a.flex-next:before {
	content: '\f061';
}

.flex-direction-nav li {
	padding: 0 !important;
	margin: 0 !important;
}




/* Blog List and Blog Page */
.bloglist h2,
.blogpage h2 {
	font-size: 1.43em;
	// font-family: 'open_sansbold';
	font-weight: 700;
}

.bloglist .btn {
	color: #222 !important;
}

.blogpage a {
	color: blue;
	// font-family: 'open_sansbold';
	font-weight: 700;
}

.breadcrumbs {
	background: #eee;
	font-size: .96em;
	padding: 10px 20px;
	// font-family: 'open_sansregular', sans-serif;
}

.breadcrumbs a {
	color: #222;
	display: inline-block;
	position: relative;
	padding-right: 30px;
	margin-right: 5px;
}

.breadcrumbs a:after {
	content: "\f0da";
	font-family: FontAwesome;
	color: #000;
	padding-right: 0.5em;
	position: absolute;
	top: 1px;
	right: 0;
}

.breadcrumbs strong {
	color: #222;
	font-weight: bold;
}

.subpage-content {
	padding: 50px 0;
}

.subpage-content .col-sm-8 {
	background: rgba(255, 255, 255, 0.5);
	padding: 20px 15px;
}

.subpage-content h1 {
	font-size: 11px;
	// font-family: 'open_sansregular', sans-serif;
	margin: 0 0 20px 0;
	padding: 0;
}

.subpage-content h2 {
	margin: 30px 0;
}



/**
* ---------------------------------------
* Footer
* ---------------------------------------
*/
.btm-contact {
	background: url(../img/bg/mobile/bg3.webp) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;

	@media (min-width:576px) {
		background-image: url(../img/bg/bg3.webp);
	}
}

/*
.btm-contact strong{
	display: block;
	font-family: 'open_sansregular', sans-serif;
	font-size: 3em;
	line-height: .8em;
}
*/
.btm-contact {
	strong {
		width: 100%;
		background: rgba(44, 44, 46, 1);
		border: 5px solid #fee900;
		color: #fee900 !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		// font-family: 'open_sansbold', sans-serif;

		padding: 30px 15px;

		// @media (min-width: 768px) {
		// 	padding: 20px 15px 45px;
		// }

		@media (min-width: 992px) {
			padding: 45px 15px;
		}

		.phone {
			font-weight: 700;
			font-size: 2rem;
			display: inline-block;
			line-height: 1;

			@media (min-width: 768px) {
				font-size: 3.43rem;
			}

			@media (min-width: 992px) {
				font-size: 4.23rem;
			}

			@media (min-width: 1200px) {
				font-size: 7rem;
			}
		}
	}

	.btn {
		display: block;
		margin: 20px auto 0;
		width: auto;
		font-size: 14px;

		@media (min-width: 768px) {
			font-size: 1.23em;
		}
	}
}

.btm-contact strong:hover,
.btm-contact strong:focus {
	color: #fee900;
}


footer {
	position: relative;
}

.totop {
	color: #000 !important;
	background: #fff;
	font-size: 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 0px 15px 15px;
	opacity: .95;
	z-index: 2000;
	text-align: center;
	display: none;
	font-family: sans-serif;
}

.totop:hover {
	opacity: .8;
}

.totop span {
	display: block;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: -10px;
}

.footer-top {
	background: #2c2c2e;
	color: #fff;
	padding: 40px 0;
	position: relative;
}

.footer-top strong {
	border-bottom: 2px solid #fff;
	color: #fff;
	display: block;
	font-size: 1.29em;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.footer-top strong.hrs {
	border-bottom: 0;
}

.footer-top span.bold {
	font-size: 1.21em;
}

.footer-top .indent {
	margin-left: 15px;
}

.sitemap ul {
	margin-left: 0;
}

.sitemap ul li {
	margin-bottom: 10px;
	padding-left: 0;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #c0e2f9;
}

.ft-logo {
	background: #121210;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 0 auto 25px !important;
}

#bbblink {
	display: block;
	margin: 0 auto !important;
}

.footer-btm {
	background: #0a0a0b;
	color: #fff;
}

.footer-btm a {
	color: #0042f4;
}

.footer-btm a:hover,
.footer-btm a:focus {
	color: #fee900;
}

/**
* ---------------------------------------
* Common Styles 02
* ---------------------------------------
*/
p {
	line-height: 1.6em;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

ul li,
ol li {
	margin: 0 0 10px;
	padding-left: 10px;
}

ol {
	margin-left: 40px;
}

ol li {
	list-style-type: decimal;
}

.bullet li {
	list-style-type: disc;
}

.bullet {
	margin-left: 20px;
}

.bullet li,
.tick li {
	padding: 0 0 10px;
	position: relative;
}

.tick li {
	list-style-type: none;
	padding: 0 0 10px;
	margin-left: 20px;
}

.tick li span {
	position: relative;
	padding-left: 22px;
}

.tick li span:before {
	content: "\f00c";
	font-family: FontAwesome;
	color: #07a0e4;
	font-size: .85em;
	padding-right: 0.5em;
	position: absolute;
	top: 0px;
	left: 0;
}

.bullet li:last-child,
.tick li:last-child {
	padding-bottom: 0;
}


.clearfix:after {
	clear: both;
	content: '';
	display: block;
}

.center {
	display: block !important;
	float: none;
	margin: 0 auto;
}

a {
	outline: none !important;
	color: #fee900;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #e3e305;
}

a.nocolor {
	color: #2c2c2e !important;
}

a.nocolor1 {
	color: #fff !important;
}

.section_lgray a,
.section_yellow a {
	color: #1d5af6;
}

.section_yellow a:hover,
.section_yellow a:focus,
.section_lgray a:hover,
.section_lgray a:focus {
	color: #012be3;
}


.white {
	color: #fff;
}

.blue {
	color: #1d5af6 !important;
}

.red {
	color: #cd333c;
}

.gray {
	color: #666;
}

.yellow {
	color: #fee900;
}

.dyellow {
	color: #e9d602;
}

.bold,
strong {
	font-weight: 700;
}

.black {
	// font-family: 'open_sansextrabold', sans-serif;
	font-weight: 700;
}

// .black1{font-family: 'gentium_basicbold', serif !important;}
// .black1a{font-family: 'gentium_basicbold_italic', serif !important;}
// .italic{font-family: 'open_sansitalic', sans-serif;}
.black1 {
	font-weight: bold;
}

.black1a {
	font-weight: bold;
	font-style: italic;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.caps {
	text-transform: uppercase;
}

.spacer-1 {
	margin-bottom: 10px !important;
	display: block;
}

.spacer-2 {
	margin-bottom: 20px !important;
	display: block;
}

.spacer-3 {
	margin-bottom: 30px !important;
	display: block;
}

.spacer-4 {
	margin-bottom: 40px !important;
	display: block;
}

.spacer-5 {
	margin-bottom: 50px !important;
	display: block;
}

.spacer-6 {
	margin-bottom: 60px !important;
	display: block;
}

.img-left {
	float: left;
	margin: 0 2% 2% 0;
}

.img-border {
	border: 1px solid #eee;
	padding: .5%;
	background: rgba(255, 255, 255, 0.8);
}

.max100 {
	width: auto;
	max-width: 100%;
}

.img100 {
	width: 100%;
}

.smoothtrans {
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}

.subpage-content .col-sm-8 ul {
	margin-left: 30px;
}

.subpage-content .col-sm-8 ul li {
	list-style-type: none;
	padding: 8px 0 8px 20px;
	position: relative;
}

.subpage-content .col-sm-8 ul li:before {
	content: "\2666";
	font-family: FontAwesome;
	color: #ac8ca1;
	font-size: 15px;
	padding-right: 0.5em;
	position: absolute;
	top: 8px;
	left: 0;
}


/**
* ---------------------------------------
* Buttons
* ---------------------------------------
*/
.btn {
	width: 300px;
	max-width: 100%;
	max-width: 100%;
	background: #fee900 !important;
	color: #2c2c2e;
	// font-family:'open_sansbold', sans-serif;
	font-weight: 700;
	font-size: 1.23em;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	outline: none;
	border: 0;

	&:hover {
		color: #fff !important;
	}

	&:not(.hvr-shutter-out-horizontal):hover {
		color: $blue !important;
	}
}

// .btn:hover, .btn:focus{
// 	color: #2c2c2e !important;
// }
.hvr-shutter-out-horizontal {
	&:before {
		// background-color: $yellow !important;
		background-color: #565658 !important;
	}

	&:hover {
		color: $yellow;
	}
}

.btn01 {
	background: #565658 !important;
	color: #fff !important;
}

.btn01:before {
	background: #424243 !important;
}

.btn01:hover,
.btn01:focus {
	color: #fff !important;
}


.btn02 {
	background: none !important;
	border: 2px solid #05a1e3;
	color: #05a1e3;
}

.btn02:before {
	background: #05a1e3 !important;
}

.btn02:hover,
.btn01:focus {
	color: #fff !important;
}

.btn03 {
	background: #053efd !important;
	color: #fff !important;
}

.btn03:before {
	background: #0536da !important;
}

.btn03:hover,
.btn03:focus {
	color: #fff !important;
}

.btn-sm {
	width: auto;
	font-size: 1em;
	padding: 8px 15px;
	text-transform: inherit;
}

table {
	width: 100%;
}

#blog_list_front {
	border-bottom: 0 none;
	max-width: 1170px;
	margin: 0 auto;

	tbody {
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	tr {
		background-color: transparent;

		@media (min-width: 768px) {
			display: block;
			flex: 0 0 50%;
			max-width: 50%;
			position: relative;
			width: 100%;
			padding: 0 1rem;
		}

		&:first-child td {
			border-top: 0 none;
		}
	}

	td {
		padding: 0;
		border: 0 none;
	}
}

.blog_listing_front {
	>.text-right {
		text-align: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 20px;

		hr {
			width: 100%;
			border-color: #e0e0e0;
		}

		form {
			.input-group {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				width: 100%;
			}

			.input-group {
				margin-bottom: 0 !important;
			}

			.form-control {
				text-align: center;
				position: relative;
				flex: 1 1 auto;
				width: 1%;
				min-width: 0;
				float: none;
				border: 1px solid #ced4da;
				border-radius: 4px 0 0 4px;
				padding: 6px 12px;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
				height: auto;
				background-color: #fff;
			}

			.input-group-append {
				margin-left: -1px;
			}

			.input-group-text {
				display: flex;
				align-items: center;
				padding: 6px 12px;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
				color: #212529;
				text-align: center;
				white-space: nowrap;
				background-color: #e9ecef;
				border: 1px solid #ced4da;
				border-radius: 0;
			}

			input[type="submit"] {
				border: 1px solid #ced4da;
				border-radius: 0 4px 4px 0;
				padding-left: 10px;
				padding-right: 10px;
				margin-left: -1px !important;
				font-size: 16px;
			}

			.input-group-text {
				border-radius: 0;
			}
		}

		.btn {
			border-radius: 4px;
			margin: 0 6px;
			padding: 7px 12px;
			border: 0 none;
			width: auto;
			line-height: 1.5;
			font-size: 16px;
			background-color: #fee900 !important;

			&:hover {
				background-color: darken(#fee900, 7%) !important;
				color: #222 !important;
			}
		}
	}
}

#blog_list_front tr {
	background-color: transparent;
}

// #blog_list_front tr.odd {
// 	background-color: #d7dbdd;
// 	color: #2c2c2e;
// }
#blog_list_front td {
	padding: 0;
}

#blog_list_front_length,
#blog_list_front_paginate {
	float: none;
	text-align: center;
	padding: 20px 0;
}

.blog_page_heading {
	display: none;
}

#blog-listing {
	width: auto;
	/*background: #e1e1e1;*/
	/*padding: 0 30px;*/
	/*margin-bottom: 30px;*/
}

.blog_list {
	text-align: center;
	max-width: 1170px;
	padding: 60px 15px;
	margin: 0 auto;
	font-size: 1.13em;
	/*background-color: #232928;*/
	/*color: #fff;*/
	/*margin-bottom: 30px;*/
}

.blog_list .main_heading {
	// font-family: 'open_sansbold', sans-serif;
	font-weight: 700;
	font-size: 1.43em;
	margin-bottom: 20px !important;

	display: flex;
	justify-content: center;
	align-items: center;
}

.blog_list .main_heading a {
	color: #2c2c2e;
}

.blog_list .main_heading a:hover {
	text-decoration: none;
}

.blog_list p {
	margin-bottom: 20px !important;
	line-height: 1.6em;
	/*font-size: 1.08em;*/
}

.blog_list .imgthumbnail_wr {
	margin-bottom: 20px;
}

.blog_list .listing-button {
	width: 300px;
	max-width: 100%;
	max-width: 100%;
	background: #fee900 !important;
	color: #222 !important;
	// font-family: 'open_sansbold', sans-serif;
	font-weight: 700;
	font-size: 1.23em;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	outline: none;
	border: 0;

	&:hover {
		background-color: darken(#fee900, 7%) !important;
	}
}

@media (max-width: 400px) {
	.blog_list .listing-button {
		width: auto;
	}
}

.blog_list .listing-button:before {
	background: #e9d602 !important;
}

.subheader h1 span {
	display: block;
	// font-family: 'open_sansregular', sans-serif;
	font-size: 0.7em;
}

#blog-details {
	padding: 60px 30px;
	font-size: 1.13em;
	/*background-color: #e1e1e1;*/
	/*width: auto;*/
}

#blog-details a {
	color: blue;
	// font-family: 'open_sansbold';
	font-weight: 700;
}

#blog-details .main_heading,
#blog-details .sub_heading {
	display: none;
}

#blog-details h2 {
	margin-bottom: 10px;
	font-size: 1.43em !important;
	// font-family: 'open_sansbold';
	font-weight: 700;
}

#blog-details h3 {
	font-size: 1.33em !important;
}

#blog-details p+h2 {
	margin-top: 40px !important;
}

#blog-details p+h3 {
	margin-top: 40px !important;
}

#blog-details p {
	margin-bottom: 20px;
}

#blog-details ul,
#blog-details ol {
	padding-left: 40px;
	margin-bottom: 20px;
	padding-top: 15px;
}

#blog-details li {
	list-style-type: disc;
	padding-left: 5px;
}

#blog-details .img-thumbnail {
	margin-bottom: 30px !important;
}

#blog-details hr {
	margin: 50px 0;
}

.social {
	a {
		display: inline-block;
		font-size: 20px;
		text-decoration: none;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #fff;
		color: $grey;
		line-height: 35px;
		text-align: center;
		margin-right: 5px;

		&:hover {
			color: $grey;
			background-color: $yellow;
		}
	}

	&.social--2 {
		display: flex;
		justify-content: center;

		a {
			background-color: #000;
			color: #FFF;
		}
	}
}

.grecaptcha-badge {
	bottom: 96px !important;
	z-index: 9000;
}