@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?2z4i8h');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?2z4i8h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?2z4i8h') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?2z4i8h') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?2z4i8h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bing:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-chevron-thin-up:before {
  content: "\e900";
}
.icon-chevron-thin-right:before {
  content: "\e901";
}
.icon-chevron-thin-left:before {
  content: "\e902";
}
.icon-chevron-thin-down:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-yahoo:before {
  content: "\eabb";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-yelp:before {
  content: "\ead7";
}
